# Advanced Python Programming - First Assignment

**Topics Covered:** Data Types, Data Structures, Loops, Conditionals, Functions  

**Instructions:**  
- Answer all questions  
- Write clean code  
- Do not use external libraries 

**Submission Guidelines:**
- Save as: `FirstName_LastName_Assignment1.ipynb`
- Test all code before submission
- Include output for each question
- Add comments explaining your logic
- Deadline: 12-19-2025

## Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.  
Display each value with its data type.  
Convert age to float and marks to int before displaying.

In [9]:
name=input("Enter your name: ")
roll_no=input("Enter your roll number: ")
age=input("Enter your age: ")
marks=input("Enter your marks: ")
print("Name:", name,"type:", type(name))
print("Roll Number:", roll_no,"type:", type(roll_no))                  
print("Age:", age,"type:", type(age))
print("Marks:", marks,"type:", type(marks))
converted_age=float(age)
converted_marks=int(marks)
print("Converted Age:", converted_age,"type:", type(converted_age))
print("Converted Marks:", converted_marks,"type:", type(converted_marks))

Name: Sujal Shrestha type: <class 'str'>
Roll Number: 42 type: <class 'str'>
Age: 21 type: <class 'str'>
Marks: 700 type: <class 'str'>
Converted Age: 21.0 type: <class 'float'>
Converted Marks: 700 type: <class 'int'>

## Comments:
 In this question, we take student name, roll_no,age and marks as input and display each details with its data type. Also we convert data type of age and marks into float and int respectively.

## Question 2: Conditional Logic
Accept marks (0–100) and display:
- Excellent (≥80)
- Good (≥60)
- Pass (≥40)
- Fail (<40)

In [ ]:
marks=int(input("Enter marks(0-100): "))
user_input=print("Entered marks is:", marks)
if marks>=80:
    print("Excellent")
elif marks>=60:
    print("Good")
elif marks>=40:
    print("Pass")
else:
    print("Fail")

Entered marks is: 85
Excellent

## Comments:
In this question, we accpets marks between 0 to 100 and display result status based on the marks obtained.

## Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [16]:
for i in range(1,101):
    if i%4==0 and i%8!=0:
        print(i)

4
12
20
28
36
44
52
60
68
76
84
92
100

## Comments:
In this question, we print numbers from 1 to 100 that are divisiblr by 4 but not divisible by 8.

## Question 4: List Operations
Given:
```python
marks = [55, 72, 48, 90, 67, 72, 90]
```
Find max, min, count of 72, and marks ≥ 60.

In [65]:
marks=[55, 72, 48, 90, 67, 72,90]
max_marks=max(marks)
print("maximum marks is:", max_marks)
min_marks=min(marks)
print("minimum marks is:", min_marks)
count_72=marks.count(72)
print("count of 72 is:", count_72)
result = [mark for mark in marks if mark >= 60]
print("Marks greater than or equal to 60:", *result)

maximum marks is: 90
minimum marks is: 48
count of 72 is: 2
Marks greater than or equal to 60: 72 90 67 72 90

## Comments:
From the given list, we find out maximum and minimum marks obtained, count 72 and also find marks greater than or equal to 60.

## Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.  
Explain result using comments.

In [25]:
tuple=('OOP','Python','DBMS','Stat','OS')
print("Original Tuple:", tuple)

Original Tuple: ('OOP', 'Python', 'DBMS', 'Stat', 'OS')

## Comments:
In this question, we create tuple of 5 subjects and try to attempt modification on it but it is not modified as tuple is immutable, its value can't be changed. If we want to modify it we have to change it into list.

## Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [28]:
marks = [45, -3, 88, "NA", 102, None, 67]

def remove_invalid_marks(marks):
    valid_marks = []
    invalid_count = 0
    for mark in marks:
        if isinstance(mark, int) and 0 <= mark <= 100:
            valid_marks.append(mark)
        else:
            invalid_count += 1
    valid_percentage = (len(valid_marks) / len(marks)) * 100
    return valid_marks, invalid_count, valid_percentage
print(remove_invalid_marks(marks))

([45, 88, 67], 4, 42.857142857142854)

## Comments:
From the list, we remove invalid entities and return valid marks, no of invalid_marks and valid_marks in percentage using fucntion.

## Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [36]:
dict={}
def add_student(name, roll_no):
    dict[roll_no] = name
    return dict
def update_student( name,roll_no):
    dict[roll_no] = name
    return dict
def display_students():
    for roll_no, name in dict.items():
        print(f"Roll No: {roll_no}, Name: {name}")
        
add_student("Sujal", 42)
add_student("Ram", 15)
update_student("Sujal Shrestha", 42)
display_students()

Roll No: 42, Name: Sujal Shrestha
Roll No: 15, Name: Ram

## Comments:
In this question, we create dictionary for student name and roll no and create different function to perform add, update and display operations in dictionary.

## Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [37]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print("Prime numbers between 1 and 50:")
for num in range(1, 51):
    if is_prime(num):
        print(num, end=" ")

Prime numbers between 1 and 50:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

## Comments:
In this question, we create function named "is_prime" to display prime numbers between 1 to 50.

## Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)
```

Explain why modular design is beneficial.

In [39]:
def total_marks(marks):
    return sum(marks)
def average_marks(marks):
    return sum(marks) / len(marks)
def classify(marks):
    avg=average_marks(marks)
    if avg >= 80:
        return "Distinction"
    elif avg >= 60:
        return "First Class"
    elif avg >= 40:
        return "Pass"
    else:
        return "Fail"
    
def main():
    marks = [85, 78, 92, 67, 88]
    print("Total Marks:", total_marks(marks))
    print("Average Marks:", average_marks(marks))
    print("Classification:", classify(marks))
main()

Total Marks: 410
Average Marks: 82.0
Classification: Distinction

## Comments:
In this question, we create different function to calculate totals marks, average marks and classify result and combine them and return result using single function.  
Modular design is beneficial as it improves reusability, testing, and readability.

## Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [66]:

def parse_student(data):
    try:
        name, roll, age, marks = data.split("|")
        roll = int(roll)
        age = int(age)
        marks = [int(m.strip()) for m in marks.split(",")]

        if age < 16 or any(m < 0 or m > 100 for m in marks):
            return {}

        return {roll: {"name": name, "age": age, "marks": marks}}

    except:
        return {}

print(parse_student("Ram|101|22|78, 88, 92"))

{101: {'name': 'Ram', 'age': 22, 'marks': [78, 88, 92]}}

## Comments:
Here, we create a function that accepts a raw input string in the format asked in question above and extract name, roll number, age and marks & convert them into their appropriate type and hence obtain result as a dictionary using roll number as the key.

## Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [ ]:
def separate_data(data):
    numeric = []
    non_numeric = []

    for d in data:
        if isinstance(d, (int, float)) and not isinstance(d, bool):
            numeric.append(float(d))
        else:
            non_numeric.append(d)

    return numeric, non_numeric

data = [10, "20", 30.5, "abc", None, True]
print(separate_data(data))

([10.0, 30.5], ['20', 'abc', None, True])

## Comments:
Here, we create a function to seperate numeric and non-numeric values and convert numeric values to float. 
True behaves like 1 because bool is a subclass of int in Python

## Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [54]:
for i in range(1,8):
    print(i*(i+1), end=" ")

2 6 12 20 30 42 56

## Comments:
Here, we analyze a pattern which use formula n(n+1).

## Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [ ]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

all_students = python | sql | statistics

exactly_two = {s for s in all_students if sum([s in python, s in sql, s in statistics]) == 2}
only_one = {s for s in all_students if sum([s in python, s in sql, s in statistics]) == 1}
all_three = python & sql & statistics

print(exactly_two)
print(only_one)
print(all_three)

{'Amit', 'Nita'}
{'Gita', 'Sita', 'Ram'}
{'Hari'}

## Comments:
In this question, we performed enrollment of students studying different subjects.The basic logic is that we check bool value of each student whether s/he study that particular course or not then convert bool value into numeric and add it to compare with the number of subjects.

## Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [58]:
def analyze(records):
    averages = {k: sum(v)/len(v) for k, v in records.items()}
    top = max(averages, key=averages.get)
    bottom = min(averages, key=averages.get)

    return {
        "averages": averages,
        "topper": top,
        "lowest": bottom
    }

records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

print(analyze(records))

{'averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336}, 'topper': 'Sita', 'lowest': 'Hari'}

## Comments: 
Here, we create function that computes average per student and compare each student average to identify top and bottom performers and return a result in single dictionary.

## Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [ ]:
def analyze_school(data):
    student_avg = {}
    class_toppers = {}
    total_marks = 0
    total_count = 0

    for cls, students in data.items():
        best_student = None
        best_avg = 0

        for name, marks in students.items():
            avg = sum(marks) / len(marks)
            student_avg[name] = avg
            total_marks += sum(marks)
            total_count += len(marks)

            if avg > best_avg:
                best_avg = avg
                best_student = name

        class_toppers[cls] = (best_student, best_avg)

    school_avg = total_marks / total_count

    return {
        "class_toppers": class_toppers,
        "school_average": school_avg,
        "student_averages": student_avg
    }
data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
analyze_school(data)

{'class_toppers': {'Class A': ('Sita', 84.0),
  'Class B': ('Ram', 91.66666666666667)},
 'school_average': 77.91666666666667,
 'student_averages': {'Amit': 83.66666666666667,
  'Sita': 84.0,
  'Hari': 52.333333333333336,
  'Ram': 91.66666666666667}}

## Comments:
Here, we create a function that calculates average of the students of both class A and B to find topper in each class and also calculate student_average value.
Nested dictionaries are ideal for hierarchical data like school → class → students as they organize information in multiple levels, mimicking real-world structures.